
#header{
    background-image: url("logo.png");
    background-size: 50px;
    background-color: #eaeaea;
    background-repeat: no-repeat;
    text-align:center;
    border-radius: 100px
}
body {
    background-image: url("img/drugs.jpg");
}
#body{

    font: "Times new Roman", sans-serif;
    margin: 20px;
    display: inline-block;
    width: 60%;
     background-image: url("img/drugs.jpg");

}
body {
                background-image: url("img/drugs.jpg");
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
h1 {
    color:red
}
h2{

}
p{
    font-style: italic
}
form{
    background-color: #eaeaea;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 40%
}

nav{
    width: 250px
}
nav> ul{
    list-style: none
}
nav> ul li a {
    display: block;
    color: #E4433c;
    text-transform: uppercase;
    background: #eaeaea;
    border-top-style: dotted;
    border-width: 1px;
    border-color: black;
    padding: 10px

}
nav> ul li:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: none
}
nav{
    float: left;
    width: 18%
}
#sadrzaj{
    width: 50%;
    margin: 120px;
    position: absolute;
    top: 0; 
    left: 55%;
    z-index: 2 
    
}
#footer{

    clear: both;
    text-align: center
}
#googleMap{
        margin-left: 20%;
}
figcaption{
    font-family: "Times New Roman",Times, serif;
    font-size: 20px;
    color: #ff0000
}
.slike
{
    font-size: 20px;
    color: #101010

}
.obrub{
    display:inline-block;
    border-radius: 10px;
    width: 100px;
    height: 95px;
    padding: 2.5px;
    background-color: #101010;
    color: grey;
    font-family: Verdana;
    text-align: center;
    border: thick #aabbcc solid;
    float: left;

}
.nesredjena{
    list-style-type: none
}
ol{
    font-style: italic;
    font-size: 18px;
    text-align: left
}
#registracija{
    font-style: initial;
    font-family: Verdana;
    font-size: 16px;
    width: 50%;
    margin-left:320px;
    margin-top: 30px;
}
#dodavanje{
    font-style: initial;
    font-family: Verdana;
    font-size: 16px;
    width: 30%;
    margin-left: 30%;
    margin-top: 30px;
}
table, td, th {
    border: 1px solid black
}
#tablica{
    padding-left: 15px;
    float: left;
}
#tablica >table tr:hover{
    background-color: #112233;
    color: bisque
}

#div{
    clear: both;
}
#neispravno{
    background-color: tomato;
}
.ispravno{
    background-color: yellow;
}
table.db-table{
    position: absolute;
    border-right:1px solid #ccc; 
    border-bottom:1px solid #ccc; 
    margin: -50%;
    margin-left: 20%;
}
table.db-table th{ 
    background:#eee; 
    padding:5px; 
    border-left:1px solid #ccc; 
    border-top:1px solid #ccc; 
}
table.db-table td{ 
    padding:5px; 
    border-left:1px solid #ccc; 
    border-top:1px solid #ccc; 
}
table.db-table tbody{ 
   background-color: cornsilk;
}
table.db-table1{
    position: absolute;
    border-right:1px solid #ccc; 
    border-bottom:1px solid #ccc; 
    margin: -20%;
    margin-left: 20%;
    margin-top: 20%;
    
}
table.db-table1 th{ 
    background:#eee; 
    padding:5px; 
    border-left:1px solid #ccc; 
    border-top:1px solid #ccc; 
}
table.db-table1 td{ 
    padding:5px; 
    border-left:1px solid #ccc; 
    border-top:1px solid #ccc; 
}
table.db-table1 tbody{ 
   background-color: cornsilk;
}
table.db-table2{
    position: absolute;
    border-right:1px solid #ccc; 
    border-bottom:1px solid #ccc; 
    margin: -32%;
    margin-left: 20%;
    
}
table.db-table2 th{ 
    background:#eee; 
    padding:5px; 
    border-left:1px solid #ccc; 
    border-top:1px solid #ccc; 
}
table.db-table2 td{ 
    padding:5px; 
    border-left:1px solid #ccc; 
    border-top:1px solid #ccc; 
}
table.db-table2 tbody{ 
   background-color: cornsilk;
}
.content{
    width:100%;
    padding-bottom: 60px;
      
}
.tbody{
    background-color: cornsilk;
}
#greske{
    margin-top: 33px;
    margin-left: 1%;
}
.mail-link{
     display:inline-block;
     color:#2a4d69;
     text-decoration: none;
     list-style: none
}
.reg{
    margin-left:420px; 
    margin-top: 30px
}
.reg1{
    width: 70%
}
